@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans');

body, section, header, article, .container, a.navLink, button#btnMobileToggle, nav, div.navigation, div.fields{
	display: flex;
	flex-wrap: wrap;
}

body, header, footer, img.imgFullWidth.pageImage, .container, .navContainer, a.navLink, div.navigation, p.article.text{
	width: 100%;
	max-width: 100%;
}

header{
	padding: 15px 10px;
}

body{
	margin: 0px;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: #000;
	font-style: normal;
	line-height: 1.5em;
}

article{
    margin: 15px auto;
}

#btnMobileToggle, .navImage{
	width: 25px;
	height: 25px;
}

button#btnMobileToggle{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

i.fa.fa-bars {
    color: #000;
}

.fa, .fas{
	font-size: 1.5em;
	width: 1.5em;
}

i.fas.fa-map-marker-alt, i.fas.fa-clock {
    color: #FF473A;
    margin: 10px 0px;
}

nav#webNAv{
	display: none;
}

p{
	margin: 0px;
}

div#logo a {
    width: 100%;
    text-decoration: none;
    color: #000;
}

p.logo-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 0.625em;
	text-transform: uppercase;
	line-height: normal;
}

p.address, p.visitation-time {
    margin: auto 0px;
}

section{
	width: calc(100% - 30px);
	padding: 0px 10px;
	margin: auto;
}

h1, h2, h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #FF473A;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

h2, h3{
	text-transform: capitalize;
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 15px auto;
}

h2{
	font-size: 1.2em
}

h3{
	font-size: 1.1em
}

.btn, footer{
    background-color: #FF473A;	
}

.btn{
	width: 250px;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.btn{
	border: 0;
}

footer p {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: capitalize;
    margin: 10px;
}

footer{
	margin-top: 30px;
}

.overlay{
	max-height: 100vh;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 75px;
	right: 0;
	background: rgba(255, 255, 255, 0.75);
	transition: 0.4s;
}

nav{
    width: 250px;
    background: #FF473A;
    padding: 30px 10px;
    right: 0;
    position: relative;
}

.center-text{
	text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

a.navLink{
  	text-decoration: none;
  	padding: 10px;
}

p.navItem {
    margin: auto 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}

.noScroll{
	overflow: hidden;
}

form{
	margin: auto;it 
}

label, div.fields input, div.fields textarea {
    width: 100%;
    margin: 5px auto;
}

div.fields{
	margin: 5px auto;
}
/*media query for screen of width greater than 699px*/
@media screen and (min-width: 699px) {
	section{
		width: 700px;
		max-width: 80%;
		margin: auto;
	}

	.container.col-2 {
	    width: 50%;
	}
}

/*media query for screen of width 850px and greater*/
@media screen and (min-width: 849px) {
	nav ul, .overlay{
		display: flex;
		flex-wrap: wrap;
	}

	.overlay{
		position: inherit;
	}

	button#btnMobileToggle{display: none;}

	nav, .overlay{
		width: 100%;
		padding: 0;
		background: #fff;
	}

	img.imgFullWidth.pageImage{
		height: 500px;
	}

	nav ul{
		margin: auto;
	}

	.navImage{
		display: none;
	}

	p.navItem{
		color: #FF473A;
	}

	a.navLink p.navItem:hover{
		color: #000;
	}

	header div.container{
		width: 100px;
	}

	header div.navContainer{
		width: calc(100% - 100px);
	}

	div.navigation{
		width: 850px;
		margin: auto;
	}

	header{
		box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
		z-index: 1;
	}
}

@media screen and (min-width: 1024px) {
	section{
		width: 900px;
		max-width: 80%;
		margin: auto;
	}
}