@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans');

body{
	display: flex;
	flex-wrap: 	wrap;
}

body{
	width: 100%;
	margin: 0px;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: #000;
}

div.navContainer{
	display: none;
}

p.logo-text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 0.625em;
	line-height: normal;
	text-transform: uppercase;
	margin: 0px;
}

img.imgFullWidth.pageImage {
    max-width: 100%;
}

section{
	width: calc(100% - 20px);
	padding: 0px 10px;
}