@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans');

body{
	display: flex;
	flex-wrap: 	wrap;
}

body{
	width: 100%;
	margin: 0px;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: #000;
	font-style: normal;
	line-height: normal;
}

div.navContainer{
	display: none;
}

p.logo-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 0.625em;
	text-transform: uppercase;
	margin: 0px;
}

img.imgFullWidth.pageImage {
    max-width: 100%;
}

section{
	width: calc(100% - 20px);
	padding: 0px 10px;
}

h1, h2, h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #FF473A;
}

h2, h3{
	text-transform: capitalize;
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 15px auto;
}

h2{
	font-size: 1.2em
}

h3{
	font-size: 1.1em
}

.btn{
	width: 250px;
    background-color: #FF473A;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}